{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    {% if app.user %}
        Bienvenu {{ app.user.email }} !<br>
        Vous pouvez vous <a href="{{ path('app_logout') }}">déconnecter</a>
    {% else %}
        Veuillez vous <a href="{{ path('app_login') }}">connecter</a>
    {% endif %}
{% endblock %}
